<nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color:rgb(38, 146, 254);"
    >
      <a class="navbar-brand" href="#">Art Gallery</a>
  
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" routerLink="signup">sign up</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" routerLink="contact">contact</a>
          </li>
         

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              categories
            </a>
            <ul class="dropdown-menu">
              <li> <a class="dropdown-item" routerLink="tradi">traditional</a></li>
              <li><a  class="dropdown-item" routerLink="digit" >Digital Art</a></li>
              <li><a  class="dropdown-item" routerLink="spray" >spray paint art</a></li>
              <li><a class="dropdown-item" routerLink="water" >water colour art</a></li>
              <li><a class="dropdown-item" routerLink="western" >western Art</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="feedback">Feedback</a>
          </li>
          

         
         
        </ul>
        
      </div>
      
    </nav>