.box{
    
    width: 500px;
  border: 20px solid rgb(11, 11, 12);
  padding: 100px;
  margin: 20px;
 
}
h4{
    padding-top: 300px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dis{
    padding-left: 300px;
}
body{
    background-image: url("https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830027.jpg");
}