<body><div class="container">
    <div class="box">
      <div class="row">
        <div class="col-sm" style="border: 0cqb;">
          <div>
              <img src="{{trd[0].img}}" height="450" width="400">
          </div>
        </div>
        </div>
        <div class="col-sm">
              <br>
              <h6>Name:{{trd[0].name}}<br>Height:{{trd[0].height}}<br>Width:{{trd[0].width}}<br>Price:{{trd[0].price}}<br>Artist:{{trd[0].artist}}<br></h6>
              <button (click)="gotoHere(trd.title)" type="button" class="btn btn-primary btn-lg">Buy Now</button>
        
       
          </div>
         
        </div>
      
     
    </div> 
    
  </body>