
<body>

<div class="container">
    <div class="box">
      <div class="row">
        <div class="col-sm" style="border: 0cqb;">
          <div>
              <img src="{{sp[0].img}}" height="420" width="400">
          </div>
        </div>
        </div>
        <div class="col-sm">
          
          <h6><i>Name:{{sp[0].name}}<br>Height:{{sp[0].height}}<br>Width:{{sp[0].width}}<br>Price:{{sp[0].price}}<br>Artist:{{sp[0].artist}}</i></h6>

  
          </div>
         
        </div>
      
     
    </div> 
  </body>
  
