.box{
    
    width: 500px;
  border: 20px solid rgb(14, 14, 14);
  padding: 100px;
  margin: 20px;
 
}
h4{
    padding-top: 300px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dis{
    padding-left: 300px;
}

body {
    background-image: url("https://images.pexels.com/photos/5594336/pexels-photo-5594336.jpeg?auto=compress&cs=tinysrgb&w=600");
   
   }