

<body>
<div class="container">
  <div class="box">
    <div class="row">
      <div class="col-sm" style="border: 0cqb;">
        <div>
            <img src="{{dig[0].img}}" height="400" width="400">
        </div>
      </div>
      </div>
      <div class="col-sm">
              <br>
            <h6><i>Name:{{dig[0].name}}<br>Height:{{dig[0].height}}<br>Width:{{dig[0].width}}<br>Price:{{dig[0].price}}<br>Artist:{{dig[0].artist}}</i></h6>
            <button (click)="gotoHere(dig.title)" type="button" class="btn btn-primary btn-lg">Buy Now</button>
        </div>
       
      </div>
    
    
    
   
  </div> 
</body>
