.box{
    
    width: 500px;
  border: 20px solid rgb(14, 14, 14);
  padding: 100px;
  margin: 20px;
 
}
h4{
    padding-top: 300px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dis{
    padding-left: 300px;
}