
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://media.blogto.com/articles/20212812-LocalGallery-20.jpg?w=1200&cmd=resize_then_crop&height=630&quality=70" class="d-block w-100" alt=""width="250" height="600">
        <div class="carousel-caption">
           
            <h1><i>
              <span class="d-block p-2 bg-primary text-white">ART GALLERY</span>
             
            </i></h1>
           

           <h5> <b><p class="font-monospace" class="text-black">
           <i><marquee>The art gallery is where the arts or art crafts of the artists can be displayed for the visitors’ view. 
            It is an e-commerce application which connects artists with their customers, this website
            will help the artists to showcase their art in this website by helping them to sell it to prospective customers
            also it will help the customers to discover and search the art which they like and they will have an option
            to buy the art if they want.</marquee></i></p>
             </b></h5>
           
         </div>
      </div>
      <div class="carousel-item">
        <img src="https://artlogic-res.cloudinary.com/w_1200,c_limit,f_auto,fl_lossy,q_auto/artlogicstorage/chempres/images/view/c7dfd75145cf740d2384b64ea63bee0a/chemouldprescottroad-mehlli-gobhai-don-t-ask-me-about-color-display-view-2020.jpg" class="d-block w-100" alt=""width="300" height="600px">
       
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1513364776144-60967b0f800f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGFpbnRicnVzaHxlbnwwfHwwfHw%3D&w=1000&q=80" class="d-block w-100" alt=" "width="200" height="600px">
       
       
      </div>
    
      
    </div>
  </div>
  
  <footer class="text-center text-white" style="background-color: #caced1;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Images -->
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://www.livingwithart.com.sg/image/cache/catalog/Products/Art%20Painting/Abstract/ZH4194E%20100X100CM-684x684-crop.jpg"alt=""width="400" height="150px"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://www.scottishlandscapepainting.co.uk/wp-content/uploads/2015/01/Aberdeen-painting-print-beach-Scotland-art-canvas-scaled.jpg"alt=""width="400" height="150px"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://i0.wp.com/hyperallergic-newspack.s3.amazonaws.com/uploads/2022/08/1950W-Erderly-40x30-Retrun-of-the-Prodigal-copy-scaled.jpg?fit=1930%2C2560&quality=100&ssl=1"alt=""width="400" height="150px"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://wooarts.com/wp-content/uploads/leonid-afremov-wooarts-008-og.jpg"alt=""width="400" height="150px"
                
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://cdn11.bigcommerce.com/s-x49po/images/stencil/1280x1280/products/86968/146558/1658932356350_6667F909-1259-4A8A-A483-7E9A513210C9__73017.1658986550.jpg?c=2"alt=""width="400" height="150px"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://media.artsper.com/artwork/58752_1_m.jpg"alt=""width="400" height="150px"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    
    <!-- Copyright -->
  </footer>
  <section class="about-section mt-5">
    <div class="container">
      <div class="row">
       <div class="col-lg-6">
        <div class="about-image clearfix">
          <div class="single-image float-left">
           <img src="../../../assets/images/abt.jpg" alt=""height="300" width="300">
          </div> 
         <div class="single-image image-tow float-right">
        <img src="https://cdn.create.vista.com/api/media/small/119949720/stock-photo-paints-and-brushes" alt="" height="300" width="300">
      </div> 
    </div> 
      </div>
        <div class="col-lg-6">
         <div class="about-content">
            <h3> About Us</h3>
           
      <br> 
     <p> Online art gallery is an e-commerce application which connects artists with their customers, this website 
      will help the artists to showcase their art in this website by helping them to sell it to prospective customers 
      also it will help the customers to discover and search the art which they like and they will have an option 
      to buy the art if they want. </p>
      <br><br>
          <a class="main-btn mt-25 m4" href="#">Learn More <i class="fas fa-arrow-right"></i></a>
        </div> 
       </div>
      </div> 
    </div> 
   </section>
   
   